<div class="row">
    <div class="col-md-6 col-12 m-auto p-5">
        <div class="container mt-5 pl-5" style="max-width: 30rem;box-shadow:2px 3px 35px 2px rgb(151, 151, 151);height:400px;padding:30px;border-radius: 30px;">
            <h2 class="text-center" style="font-family: font-family: 'Josefin Slab', serif;">Login</h2>
            <form action="/login" method="post" autocomplete="off">
            
                <div class="form-group">
                    <label for="">Email</label>
                    <input value="abc@gmail.com" type="email" class="form-control" name="Email" placeholder="Enter Email"  />
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input value="123" type="password" name="Password" placeholder="Enter Password" class="form-control" id=""  />
                </div>
                <a href="/signup" style="transition: .4s ease-in-out;">Create New Account</a>
                <button type="submit" class="btn btn-primary float-right" style="width: 120px;box-shadow:1px 1px 5px 1px gray;transition: .5s ease-in-out;">Login</button>
            </form>
            {{#if loginErr}}
                     <p class="error text-danger fw-bold">
                        {{loginErr}}
                     </p>
            {{/if}}
        </div>

    </div>
</div>